Flask==0.7.2
numpy==1.6.1
gunicorn==0.12.2
pymongo==2.0.1
http://httplib2.googlecode.com/files/httplib2-0.7.2.tar.gz
http://pyyaml.org/download/pyyaml/PyYAML-3.10.tar.gz
http://pypi.python.org/packages/source/n/nltk/nltk-2.0.1rc1.tar.gz

